In [1]:
from project_fraud.lib import drop_many_missing_values

In [4]:
df = drop_many_missing_values()

In [5]:
df.head()

   TransactionID  isFraud  TransactionDT  TransactionAmt ProductCD  card1  card2  card3       card4  card5  ...   V312  V313  V314  V315  V316    V317   V318  V319  V320  V321
0        2987000        0          86400            68.5         W  13926    NaN  150.0    discover  142.0  ...    0.0   0.0   0.0   0.0   0.0   117.0    0.0   0.0   0.0   0.0
1        2987001        0          86401            29.0         W   2755  404.0  150.0  mastercard  102.0  ...    0.0   0.0   0.0   0.0   0.0     0.0    0.0   0.0   0.0   0.0
2        2987002        0          86469            59.0         W   4663  490.0  150.0        visa  166.0  ...    0.0   0.0   0.0   0.0   0.0     0.0    0.0   0.0   0.0   0.0
3        2987003        0          86499            50.0         W  18132  567.0  150.0  mastercard  117.0  ...  135.0   0.0   0.0   0.0  50.0  1404.0  790.0   0.0   0.0   0.0
4        2987004        0          86506            50.0         H   4497  514.0  150.0  mastercard  102.0  ...    0.0   0.0   0.0   0.0   0.0     0.0    0.0   0.0   0.0   0.0

[5 rows x 226 columns]

In [8]:
df.columns

Index(['TransactionID', 'isFraud', 'TransactionDT', 'TransactionAmt', 'ProductCD', 'card1', 'card2', 'card3', 'card4', 'card5',
       ...
       'V312', 'V313', 'V314', 'V315', 'V316', 'V317', 'V318', 'V319', 'V320', 'V321'],
      dtype='object', length=226)